<!doctype html>

{{> head }}

<body>
    <main>
        <h1 class="index-title">My Recipe Book</h1>

        <article class="index-cards">
            {{#each collections.recipes}}
                <a class="index-card" href="{{ this.url }}">
                    <h2 class="index-image" style="background-image: url({{this.data.cover-image}});">
                        {{ this.data.title }}
                    </h2>
                    {{{ content }}}
                    {{myshortcode}}
                </a>
            {{/each}}
        <article>

    </main>

</body>


